<a href="https://colab.research.google.com/github/countifs/kaggle/blob/main/L%26T_Vehicle_Loan_Default_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. 작업환경 설정**

> ## **1.1 런타임 유형 변경 : None → GPU**

In [ ]:
! cat /proc/cpuinfo

In [ ]:
!nvidia-smi

NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.

> ## **1.2 구글 드라이브 마운트**

In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

> ## **1.3 작업경로 변경**

In [ ]:
print('> 변경 전 경로 : ' , os.getcwd())
os.chdir('/content/drive/MyDrive/kaggle/2. L&T Vehicle Loan Default Prediction')
print('> 변경 후 경로 : ' , os.getcwd())

> 변경 전 경로 :  /content
> 변경 후 경로 :  /content/drive/MyDrive/kaggle/2. L&T Vehicle Loan Default Prediction

> ## **1.4 라이브러리 불러오기**

In [ ]:
#load packages

import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import random as rn

# loading Common Model Algorithms

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC,LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, recall_score, f1_score,accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.datasets import load_digits
from sklearn import tree

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

# **2. 데이터 준비**

> ## **2.1 데이터 불러오기**

In [113]:
train_df= pd.read_csv('train.csv')
test_df= pd.read_csv('test.csv')
variable_df = pd.read_csv('data_dictionary.csv')

 > ## **2.2 변수 설명**

In [114]:
#컬럼명 조회
print(type(variable_df.columns))
print(variable_df.columns)

<class 'pandas.core.indexes.base.Index'>
Index(['Unnamed: 0', 'Variable Name', 'Description', 'Unnamed: 2'], dtype='object')

In [115]:
#컬럼명 조회 (리스트를 시리즈로 변환 list to Series)
variable_df_columns = pd.Series(variable_df.columns)
variable_df_columns

0       Unnamed: 0
1    Variable Name
2      Description
3       Unnamed: 2
dtype: object

In [116]:
#컬럼명 조회 (리스트를 데이터프레임으로 변환 list to DataFrame)
variable_df_columns2 = pd.DataFrame([variable_df.columns])
variable_df_columns2.T

               0
0     Unnamed: 0
1  Variable Name
2    Description
3     Unnamed: 2

In [117]:
#변수정보 출력
print(type(variable_df))
variable_df.T

<class 'pandas.core.frame.DataFrame'>

                                     0   ...                                       40
Unnamed: 0                            0  ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans
Unnamed: 2                          NaN  ...                                      NaN

[4 rows x 41 columns]

 >> ### **2.2.1 변수설명 테이블 정리**

In [118]:
#불필요 컬럼 제거("drop" + "컬럼명" + "axis=1" 을 통한 불필요 컬럼 제거)
variable_df1 = variable_df.drop(['Unnamed: 0','Unnamed: 2'], axis = 1) 
variable_df1.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [119]:
#불필요 컬럼 제거("drop" + "columns" 통한 불필요 컬럼 제거)
variable_df5 = variable_df.drop(columns = ['Unnamed: 0','Unnamed: 2'])
variable_df5.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [120]:
#불필요 컬럼 제거("drop" + "columns" 통한 불필요 컬럼 제거)
variable_df6 = variable_df.drop(columns = [variable_df.columns[0],variable_df.columns[3]])
variable_df6.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [121]:
# 출력할 컬럼만 입력해서 조회 ("컬럼명 입력")
variable_df2 = variable_df[['Variable Name', 'Description']]
variable_df2.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [122]:
#iloc는 numeric 컬럼 인덱스 요구
variable_df3 = variable_df.iloc[:, 1:3] 
variable_df3.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [123]:
#loc는 string 컬럼명 값 요구
variable_df4 = variable_df.loc[:,['Variable Name','Description']] 
variable_df4.T

                                     0   ...                                       40
Variable Name                  UniqueID  ...                          NO.OF_INQUIRIES
Description    Identifier for customers  ...  Enquries done by the customer for loans

[2 rows x 41 columns]

In [124]:
# 첫번째 열을 제외하고 변수 설명 데이터를 추출
variable_df7 = variable_df.iloc[:, 1:4]

In [125]:
# 엑셀로 저장 (엑셀 저장관련 공부 필요  ex)중복파일 저장 처리, 엑셀 서식 관련 처리 방법 등)
variable_df7.to_excel("variable_df7.xlsx")

 > ### **2.2.2 데이터셋 기본 정보 확인하기**

In [126]:
train_df.head()

   UniqueID  disbursed_amount  ...  NO.OF_INQUIRIES  loan_default
0    420825             50578  ...                0             0
1    537409             47145  ...                0             1
2    417566             53278  ...                0             0
3    624493             57513  ...                1             1
4    539055             52378  ...                1             1

[5 rows x 41 columns]

In [127]:
train_df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

 > #### **2.2.2.1 컬럼명 인덱스 번호 삽입**

In [128]:
from pprint import pprint

sub_columns = []

for i in range(len(train_df.columns)):
    columns_index = str(i+1)+"_"
    columns_names = train_df.columns[i]
    index_names = columns_index + columns_names
    sub_columns.append(index_names)

pprint(sub_columns)

['1_UniqueID',
 '2_disbursed_amount',
 '3_asset_cost',
 '4_ltv',
 '5_branch_id',
 '6_supplier_id',
 '7_manufacturer_id',
 '8_Current_pincode_ID',
 '9_Date.of.Birth',
 '10_Employment.Type',
 '11_DisbursalDate',
 '12_State_ID',
 '13_Employee_code_ID',
 '14_MobileNo_Avl_Flag',
 '15_Aadhar_flag',
 '16_PAN_flag',
 '17_VoterID_flag',
 '18_Driving_flag',
 '19_Passport_flag',
 '20_PERFORM_CNS.SCORE',
 '21_PERFORM_CNS.SCORE.DESCRIPTION',
 '22_PRI.NO.OF.ACCTS',
 '23_PRI.ACTIVE.ACCTS',
 '24_PRI.OVERDUE.ACCTS',
 '25_PRI.CURRENT.BALANCE',
 '26_PRI.SANCTIONED.AMOUNT',
 '27_PRI.DISBURSED.AMOUNT',
 '28_SEC.NO.OF.ACCTS',
 '29_SEC.ACTIVE.ACCTS',
 '30_SEC.OVERDUE.ACCTS',
 '31_SEC.CURRENT.BALANCE',
 '32_SEC.SANCTIONED.AMOUNT',
 '33_SEC.DISBURSED.AMOUNT',
 '34_PRIMARY.INSTAL.AMT',
 '35_SEC.INSTAL.AMT',
 '36_NEW.ACCTS.IN.LAST.SIX.MONTHS',
 '37_DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
 '38_AVERAGE.ACCT.AGE',
 '39_CREDIT.HISTORY.LENGTH',
 '40_NO.OF_INQUIRIES',
 '41_loan_default']

In [131]:
#컬럼명 변경
train_df.columns = sub_columns

In [132]:
train_df.head()

   1_UniqueID  2_disbursed_amount  ...  40_NO.OF_INQUIRIES  41_loan_default
0      420825               50578  ...                   0                0
1      537409               47145  ...                   0                1
2      417566               53278  ...                   0                0
3      624493               57513  ...                   1                1
4      539055               52378  ...                   1                1

[5 rows x 41 columns]

 > #### **2.2.2.2 데이터셋 information 확인**

In [133]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   1_UniqueID                              233154 non-null  int64
 1   2_disbursed_amount                      233154 non-null  int64
 2   3_asset_cost                            233154 non-null  int64
 3   4_ltv                                   233154 non-null  float64
 4   5_branch_id                             233154 non-null  int64
 5   6_supplier_id                           233154 non-null  int64
 6   7_manufacturer_id                       233154 non-null  int64
 7   8_Current_pincode_ID                    233154 non-null  int64
 8   9_Date.of.Birth                         233154 non-null  object
 9   10_Employment.Type                      225493 non-null  object
 10  11_DisbursalDate                        233154 non-null  object
 11  12_State_ID                             233154 non-null  int64
 12  13_Employee_code_ID                     233154 non-null  int64
 13  14_MobileNo_Avl_Flag                    233154 non-null  int64
 14  15_Aadhar_flag                          233154 non-null  int64
 15  16_PAN_flag                             233154 non-null  int64
 16  17_VoterID_flag                         233154 non-null  int64
 17  18_Driving_flag                         233154 non-null  int64
 18  19_Passport_flag                        233154 non-null  int64
 19  20_PERFORM_CNS.SCORE                    233154 non-null  int64
 20  21_PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  22_PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  23_PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  24_PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  25_PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  26_PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  27_PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  28_SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  29_SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  30_SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  31_SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  32_SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  33_SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  34_PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  35_SEC.INSTAL.AMT                       233154 non-null  int64
 35  36_NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  37_DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  38_AVERAGE.ACCT.AGE                     233154 non-null  object
 38  39_CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  40_NO.OF_INQUIRIES                      233154 non-null  int64
 40  41_loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [134]:
train_df.describe()

          1_UniqueID  2_disbursed_amount  ...  40_NO.OF_INQUIRIES  41_loan_default
count  233154.000000       233154.000000  ...       233154.000000    233154.000000
mean   535917.573376        54356.993528  ...            0.206615         0.217071
std     68315.693711        12971.314171  ...            0.706498         0.412252
min    417428.000000        13320.000000  ...            0.000000         0.000000
25%    476786.250000        47145.000000  ...            0.000000         0.000000
50%    535978.500000        53803.000000  ...            0.000000         0.000000
75%    595039.750000        60413.000000  ...            0.000000         0.000000
max    671084.000000       990572.000000  ...           36.000000         1.000000

[8 rows x 35 columns]