# **Wisconsin Breast Cancer Database**

In [ ]:
# 구글드라이브 마운트하기 - 생략가능
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 현재 경로 확인하기 -생략가능
import os
os.getcwd()

'/content'

In [ ]:
# 작업 경로 변경하기 -생략가능
path = '/content/drive/MyDrive/kaggle/4. Wisconsin Breast Cancer Database - 2022.03.28'
os.chdir(path)
os.getcwd()

'/content/drive/MyDrive/kaggle/4. Wisconsin Breast Cancer Database - 2022.03.28'

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [11]:
df = pd.read_csv('https://drive.google.com/uc?id=1EVPpKpQtm8Ky36RdlzrR3H4RFmKVejnQ')
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
df.shape

(699, 11)

In [ ]:
df.size

7689

In [ ]:
columns_type = df.dtypes
columns_type

id                    int64
clump_thickness       int64
size_uniformity       int64
shape_uniformity      int64
marginal_adhesion     int64
epithelial_size       int64
bare_nucleoli        object
bland_chromatin       int64
normal_nucleoli       int64
mitoses               int64
class                 int64
dtype: object

In [ ]:
df['id'].value_counts

<bound method IndexOpsMixin.value_counts of 0      1000025
1      1002945
2      1015425
3      1016277
4      1017023
        ...
694     776715
695     841769
696     888820
697     897471
698     897471
Name: id, Length: 699, dtype: int64>

In [ ]:
df.nunique()

id                   645
clump_thickness       10
size_uniformity       10
shape_uniformity      10
marginal_adhesion     10
epithelial_size       10
bare_nucleoli         11
bland_chromatin       10
normal_nucleoli       10
mitoses                9
class                  2
dtype: int64

In [ ]:
df

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [ ]:
df.groupby(['id'])['id'].count().value_counts().sum()

645

In [ ]:
clump_thickness_counts = pd.DataFrame(df['clump_thickness'].value_counts().sort_index(ascending=True))
clump_thickness_counts['rate(%)'] = round(100*clump_thickness_counts['clump_thickness']/699, 1)
clump_thickness_counts.T

                    1     2      3     4      5     6     7     8     9     10
clump_thickness  145.0  50.0  108.0  80.0  130.0  34.0  23.0  46.0  14.0  69.0
rate(%)           20.7   7.2   15.5  11.4   18.6   4.9   3.3   6.6   2.0   9.9

In [ ]:
size_uniformity_counts = pd.DataFrame(df['size_uniformity'].value_counts().sort_index(ascending=True))
size_uniformity_counts['rate(%)'] = round(100*size_uniformity_counts['size_uniformity']/699, 1)
size_uniformity_counts.T

                    1     2     3     4     5     6     7     8    9     10
size_uniformity  384.0  45.0  52.0  40.0  30.0  27.0  19.0  29.0  6.0  67.0
rate(%)           54.9   6.4   7.4   5.7   4.3   3.9   2.7   4.1  0.9   9.6

In [ ]:
shape_uniformity = pd.DataFrame(df['shape_uniformity'].value_counts().sort_index(ascending=True))
shape_uniformity['rate(%)'] = round(100*shape_uniformity['shape_uniformity']/699, 1)
shape_uniformity.T

                     1     2     3     4     5     6     7     8    9     10
shape_uniformity  353.0  59.0  56.0  44.0  34.0  30.0  30.0  28.0  7.0  58.0
rate(%)            50.5   8.4   8.0   6.3   4.9   4.3   4.3   4.0  1.0   8.3

In [ ]:
marginal_adhesion = pd.DataFrame(df['marginal_adhesion'].value_counts().sort_index(ascending=True))
marginal_adhesion['rate(%)'] = round(100*marginal_adhesion['marginal_adhesion']/699, 1)
marginal_adhesion.T

                      1     2     3     4     5     6     7     8    9     10
marginal_adhesion  407.0  58.0  58.0  33.0  23.0  22.0  13.0  25.0  5.0  55.0
rate(%)             58.2   8.3   8.3   4.7   3.3   3.1   1.9   3.6  0.7   7.9

In [ ]:
epithelial_size = pd.DataFrame(df['epithelial_size'].value_counts().sort_index(ascending=True))
epithelial_size['rate(%)'] = round(100*epithelial_size['epithelial_size']/699, 1)
epithelial_size.T

                   1      2     3     4     5     6     7     8    9     10
epithelial_size  47.0  386.0  72.0  48.0  39.0  41.0  12.0  21.0  2.0  31.0
rate(%)           6.7   55.2  10.3   6.9   5.6   5.9   1.7   3.0  0.3   4.4

In [ ]:
bare_nucleoli = pd.DataFrame(df['bare_nucleoli'].value_counts().sort_index(ascending=True))
bare_nucleoli['rate(%)'] = round(100*bare_nucleoli['bare_nucleoli']/699, 1)
bare_nucleoli.T

                   1     10     2     3     4     5    6    7     8    9     ?
bare_nucleoli  402.0  132.0  30.0  28.0  19.0  30.0  4.0  8.0  21.0  9.0  16.0
rate(%)         57.5   18.9   4.3   4.0   2.7   4.3  0.6  1.1   3.0  1.3   2.3

In [ ]:
bland_chromatin = pd.DataFrame(df['bland_chromatin'].value_counts().sort_index(ascending=True))
bland_chromatin['rate(%)'] = round(100*bland_chromatin['bland_chromatin']/699, 1)
bland_chromatin.T

                    1      2      3     4     5     6     7     8     9     10
bland_chromatin  152.0  166.0  165.0  40.0  34.0  10.0  73.0  28.0  11.0  20.0
rate(%)           21.7   23.7   23.6   5.7   4.9   1.4  10.4   4.0   1.6   2.9

In [ ]:
normal_nucleoli = pd.DataFrame(df['normal_nucleoli'].value_counts().sort_index(ascending=True))
normal_nucleoli['rate(%)'] = round(100*normal_nucleoli['normal_nucleoli']/699, 1)
normal_nucleoli.T

                    1     2     3     4     5     6     7     8     9     10
normal_nucleoli  443.0  36.0  44.0  18.0  19.0  22.0  16.0  24.0  16.0  61.0
rate(%)           63.4   5.2   6.3   2.6   2.7   3.1   2.3   3.4   2.3   8.7

In [ ]:
mitoses = pd.DataFrame(df['mitoses'].value_counts().sort_index(ascending=True))
mitoses['rate(%)'] = round(100*mitoses['mitoses']/699, 1)
mitoses.T

            1     2     3     4    5    6    7    8     10
mitoses  579.0  35.0  33.0  12.0  6.0  3.0  9.0  8.0  14.0
rate(%)   82.8   5.0   4.7   1.7  0.9  0.4  1.3  1.1   2.0

In [ ]:
target = pd.DataFrame(df['class'].value_counts().sort_index(ascending=True))

In [ ]:
target['rate(%)'] = round(100*target['class']/699, 1)

In [ ]:
target.T

             2      4
class    458.0  241.0
rate(%)   65.5   34.5

In [ ]:
for i in columns:

['clump_thickness',
 'size_uniformity',
 'shape_uniformity',
 'marginal_adhesion',
 'epithelial_size',
 'bare_nucleoli',
 'bland_chromatin',
 'normal_nucleoli',
 'mitoses',
 'class']

##  Part1. EDA

In [ ]:
df.head()

,id,clump_thickness,size_uniformity,shape_uniformity,marginal_adhesion,epithelial_size,bare_nucleoli,bland_chromatin,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [ ]:
df